*{font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
}

body{
    background-color: purple;
}

main{
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgb(3, 0, 0);
}

img.lado{
    width: 150px;
    float: right;
    margin: 0 0 10px 10px;
}